version: '{build}'


os: Visual Studio 2015

build:
  verbosity: detailed

branches:
  only:
    - windows-build

configuration:
  - Debug

environment:
  matrix:
    - compiler: llvm-3-8.0
      generator: "Ninja"
      set_path: 'C:\Program Files\LLVM\bin'
      mingw_path: 'C:\mingw-w64\i686-5.3.0-posix-dwarf-rt_v4-rev0\mingw32\bin'
      CXX: 'clang-cl'
      CXXFLAGS: '-fms-compatibility-version=19'

#    - compiler: msvc-14-seh
#      generator: "Visual Studio 14 2015"

#    - compiler: msvc-14-seh
#      generator: "Visual Studio 14 2015 Win64"

    - compiler: gcc-4.9.2-posix
      generator: "Ninja"
      mingw_path: 'C:\MinGW\bin'
      CXX: 'g++'

    - compiler: gcc-4.9.2-posix
      generator: "MinGW Makefiles"
      mingw_path: 'C:\mingw-w64\i686-5.3.0-posix-dwarf-rt_v4-rev0\mingw32\bin'
      CXX: 'g++'


install:
  - echo set_path=%set_path%
  - if not "%set_path%"=="" (for /f %%a in ('dir %set_path% /s /b /o:gn') do @echo "path_list=%%a")
  - if not "%set_path%"=="" (set "PATH=%PATH%;%set_path%")
  - if not "%mingw_path%"=="" (set "PATH=%PATH%;%mingw_path%")
  # git bash conflicts with MinGW makefiles
  - if "%generator%"=="MinGW Makefiles" (set "PATH=%PATH:C:\Program Files\Git\usr\bin;=%")
  - '%CXX% --version'

  - mkdir C:\projects\deps
  - cd C:\projects\deps

  ############################################################################
  # Install Ninja
  ############################################################################
  - set NINJA_URL="https://github.com/ninja-build/ninja/releases/download/v1.6.0/ninja-win.zip"
  - appveyor DownloadFile %NINJA_URL% -FileName ninja.zip
  - 7z x ninja.zip -oC:\projects\deps\ninja > nul
  - set PATH=C:\projects\deps\ninja;%PATH%
  - ninja --version

  ############################################################################
  # Install a recent CMake
  ############################################################################
  - set CMAKE_URL="https://cmake.org/files/v3.4/cmake-3.4.0-win32-x86.zip"
  - appveyor DownloadFile %CMAKE_URL% -FileName cmake.zip
  - 7z x cmake.zip -oC:\projects\deps\cmake > nul
  - set PATH=C:\projects\deps\cmake\bin;%PATH%
  - cmake --version

build_script:
  - md C:\projects\build-libcxx
  - cd C:\projects\build-libcxx
  - echo %configuration%
  - cmake -G "%generator%" "-DCMAKE_BUILD_TYPE=%configuration%" C:\projects\libcxx
  - cmake --build . --config %configuration%

on_failure:
  - appveyor PushArtifact CMakeFiles/CMakeOutput.log
  - appveyor PushArtifact CMakeFiles/CMakeError.log
#test_script:
#  - ctest -c %configuration% --timeout 300 --output-on-failure

artifacts:
  - path: '_build/CMakeFiles/*.log'
    name: logs
#  - path: '_build/Testing/**/*.xml'
#    name: test_results

cache:
  - C:\mingw-builds
  - C:\projects\deps